* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:antiquewhite;
    padding: 15px 40px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.menu li a:hover {
    color:slateblue;
}